<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" >
        <div class="sidebar-brand-text mx-3">Shop Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    <!-- Nav Item - Product Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Product/Index" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-solid fa-box"></i>
            <span>Product</span>
        </a>
    </li>

    <!-- Nav Item - Category Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Category/Index" aria-expanded="true" aria-controls="collapseCategory">
            <i class="fas fa-solid fa-user"></i>
            <span>Category</span>
        </a>
    </li>

    <!-- Nav Item - Order Management -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Checkout/Index" aria-expanded="true" aria-controls="collapseOrder">
            <i class="fas fa-regular fa-money-bill"></i>
            <span>Order</span>
        </a>

    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
