@{
    Layout = "_AdminLayout";
}

<div class="container mt-5">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Welcome!</h4>
        <p>This is a your admin page to control your website</p>
    </div>
</div>